<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<title>Página Inicial</title>
<!--<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" /> -->
<link rel="stylesheet" type="text/css" href="/css/stylesheet.css" />
<script src="/js/bootstrap.min.js">
	
</script>
</head>
<body>

	<header>
		<div class="ini-topo"></div>
		<nav>
			<ul>
				<li><a href="/inicio">Início</a></li>
				<li><a href="/galeria"> <span
						sec:authorize="!hasRole('ADMIN')">Galeria</span></a></li>
				<li><a href="/produto-listagem"> <span
						sec:authorize="hasRole('ADMIN')">Produtos</span></a></li>
				<li><a href="/login"> <span
						sec:authorize="!isAuthenticated()">Logar</span></a></li>
				<li><a href="/from-produto"> <span
						sec:authorize="hasRole('ADMIN')">Cadastrar produto</span></a></li>

				<li><a href="/cliente/cadastrarCliente"> <span
						sec:authorize="!isAuthenticated()">Cadastrar Cliente</span></a></li>

				<li><a href="/logout"> <span
						sec:authorize="isAuthenticated()">logout</span></a></li>
			</ul>
		</nav>
	</header>




</body>
</html>